h2 {
    margin: 1em 0 1em 0;
}

.topic {
    font-size: 120%;
}

.btn {
    margin-bottom: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #eee;
    border-top: 1px solid #ccc;
    font-size: 14px;
    padding: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 999;
}

.footer a {
    color: #666;
    display: inline-block;
    margin: 0 8px;
}
